<div class="form">
  <h2>Schedule Appointment</h2>
  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>
  <div class="field">
    <label class="label">Appointment Date</label>
    <p-calendar [(ngModel)]="appointment.date" name="date" class="input-field" required></p-calendar>
  </div>
  <div class="field">
    <label class="label">Appointment Hour</label>
    <input type="time" [(ngModel)]="appointment.hour" name="hour" class="input-field" required>
  </div>
  <div class="field">
      <label>Duration (minutes)</label>
      <p-dropdown [options]="durations" [(ngModel)]="duration" [showClear]="true" optionLabel="label" optionValue="id"placeholder="Select a Duration"></p-dropdown>
  </div>
  <div class="field">
    <label class="label">Clinic</label>
    <p-dropdown [options]="clinics" [(ngModel)]="clinicId" [showClear]="true" optionLabel="label" optionValue="id"placeholder="Select a Clinic"></p-dropdown>
  </div>
  <div class="field">
    <label class="label">Doctor</label>
    <p-dropdown [options]="doctors" [(ngModel)]="doctorId" [showClear]="true" optionLabel="label" optionValue="id" placeholder="Select a Doctor"></p-dropdown>
  </div>
  <button class="submit-form" type="button" pButton (click)="submitScheduleForm()" label="Register Appointment"></button>
</div>
