<div class="form">
  <h2>Schedule Appointment</h2>
  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>
  <div class="field">
    <label class="label">Appointment Date</label>
    <p-calendar [(ngModel)]="appointment.date" name="date" class="input-field" required></p-calendar>
  </div>
  <div class="field">
    <label class="label">Appointment Hour</label>
    <input type="time" [(ngModel)]="appointment.hour" name="hour" class="input-field" required>
  </div>
  <div class="field">
      <label>Duration (hours:minutes)</label>
      <input type="time" [(ngModel)]="appointment.duration" name="duration" class="input-field" required>
  </div>
  <div class="field">
    <label class="label">Clinic ID</label>
    <input type="number" [(ngModel)]="appointment.clinicId" name="clinicId" class="input-field" required>
  </div>
  <div class="field">
    <label class="label">Doctor ID</label>
    <input type="number" [(ngModel)]="appointment.doctorId" name="doctorId" class="input-field" required>
  </div>
  <button class="submit-form" type="button" pButton (click)="submitScheduleForm()" label="Register Appointment"></button>
</div>
