<!-- src/app/components/doctor-list/doctor-list.component.html -->
<div class="insideGrid doctors-container">
  <div class="filters">
    <p-dropdown
      [options]="specialities"
      [(ngModel)]="selectedSpeciality"
      placeholder="Select a Speciality"
      (onChange)="loadDoctors()">
    </p-dropdown>
    <p-dropdown
      [options]="clinics"
      [(ngModel)]="selectedClinic"
      placeholder="Select a Clinic"
      (onChange)="loadDoctors()">
    </p-dropdown>
  </div>

  <p-table [value]="doctors">
    <ng-template pTemplate="header">
      <tr>
        <th>Name</th>
        <th>Rating</th>
        <th>Birth Date</th>
        <th>Phone</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-doctor>
      <tr>
        <td>{{doctor.name}}</td>
        <td *ngIf="doctor.rating !== -1">{{doctor.rating}}</td>
        <td *ngIf="doctor.rating === -1">No rating available</td>
        <td>{{doctor.birthDate}}</td>
        <td>{{doctor.phone}}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
