<div class="form">
    <h2>Schedule Exam</h2>
    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>
    <div class="field">
      <label class="label">Exam Date</label>
      <p-calendar [(ngModel)]="exam.date" name="date" class="input-field" required></p-calendar>
    </div>
    <div class="field">
      <label class="label">Exam Hour</label>
      <input type="time" [(ngModel)]="exam.hour" name="hour" class="input-field" required>
    </div>
    <div class="field">
      <label class="label">Equipment</label>
      <p-dropdown [options]="equipments" [(ngModel)]="equipmentId" [showClear]="true" optionLabel="label" optionValue="id"placeholder="Select a Equipment"></p-dropdown>
    </div>
    <div class="field">
      <label class="label">Clinic</label>
      <p-dropdown [options]="clinics" [(ngModel)]="clinicId" [showClear]="true" optionLabel="label" optionValue="id"placeholder="Select a Clinic"></p-dropdown>
    </div>
    <div class="field">
      <label class="label">Description</label>
      <input type="text" [(ngModel)]="exam.description" name="description" class="input-field" required>
    </div>
    <button class="submit-form" type="button" pButton (click)="submitScheduleForm()" label="Register Exam"></button>
  </div>