<div class="landing-page">
    <h2>Welcome to MyClinic</h2>
    <p>The best place to schedule medical appointments.</p>
    <div *ngIf="roleService.getSelectedRole() === 'none'">
      <button pButton label="I'm a doctor" class="p-button-lg" (click)="selectRole('doctor')"></button>
      <button pButton label="I'm a patient" class="p-button-lg" (click)="selectRole('patient')"></button>
    </div>

    <div *ngIf="roleService.getSelectedRole() !== 'none'">
      <button pButton label="Login" class="p-button-lg" (click)="navigateToLogin()"></button>
      <button pButton label="Register" class="p-button-lg" (click)="navigateToRegister()"></button>
    </div>
</div>
