.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.field label {
   /* Adjust as needed */
  text-align: left;
  margin-right: 10px;
}

.field input,
.field p-calendar {
  flex: 1;
}
